@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-font: "Work Sans", sans-serif;
  --backgorund-color: #352F44;
  --primary-color: #B9B4C7;
  --font-color: #FAF0E6;
  --secundary-color: #5C5470;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-family: var(--main-font);
  background-color: var(--backgorund-color);
  color: var(--font-color);
  width: 100%;
  height: 100vh;
  padding: 3rem;
}

#root {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 55%;
}

#modal {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}